<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Lab11">
    <classes>
      <class name="SeleniumPack.Lab11_3rdTest"/>
      <class name="SeleniumPack.Lab11_4thTest"/>
    </classes>
  </test> <!-- Lab11 -->
</suite> <!-- Suite -->
